.button {
	width: 198px;
	height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: orange;
	transition: 0.5s;
	border-radius: 7px;
	cursor: pointer;
	&:hover {
		background-color: #e79807;
	}
}
.large {
	width: 380px;
}
