.divider {
	background: oldlace;
	overflow: hidden;
}
.divider_list {
	height: 52px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;

	// font-size: 1.5rem;
}
